.solve-generator-container {
    margin-top: 40px;
    width: 90%;
    background-color: #0E0F19;
    box-shadow: 0 0 1rem 0.5rem rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    color: #fff;
}

.solve-generator-container select {
    background-color: #0E0F19;
    border: 0px;
    color: white;
    font-size: 1rem;
    border-bottom: 1px solid white;
}

.solve-generator-container input[type="submit"] {
    background-color: #24263f;
    border: none;
    width: 100px;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.solve-generator-container input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.solve-generator-container input[type="submit"]:active {
    translate: 0 4px;
}

