.landing-page {
    display: flex;
    height: 100vh;
}

.right-container {
    width: 50%;
    display: flex;
    background-color: #0E0F19; 
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 1rem 0.5rem rgba(255, 255, 255, 0.2);
}

.left-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

